include Makefile
include requirements.txt
include requirements-dev.txt
include CONTRIBUTING.rst
include API.md
include tox.ini
include cpanel/USAGE
include cpanel/REFERENCE

recursive-include test *.py cpanelrc.test.example
recursive-include doc *.rst conf.py requirements.txt *.po *.sh *.svg *.css
recursive-exclude doc/build *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
